application_name        = "blacksuit"
aws_account_id          = ""
az_count                = "2"
vpc_cidr                = "172.17.0.0/16"
logs_retention_days     = 3
# database variables
db_allocate_storage     = 20
db_max_allocate_storage = 50
db_name                 = ""
db_username             = ""
db_password             = ""
db_multi_zone           = true
db_deletion_protection  = true
db_instance_class       = "db.t2.large"
db_instance_accessible  = false
# ecs variables
app_count               = 1
cpu_for_tasks           = "4096"
memory_for_tasks        = "8192"
ecr_frontend            = ""
ecr_backend             = ""
container_name          = "blacksuit"
assign_public_ip        = false
flask_mode              = "development"
health_check_path       = "/"
domain                  = "test.com"
ui_domain               = "app.test.com"
api_domain              = "api.test.com"
# auto scaling
max_capacity            = 5
min_capacity            = 1
target_for_memory       = 80
target_for_cpu          = 60
# application information
api_entrypoint_folder       = ""
migration_entrypoint_folder = ""